/* CONTEÚDO*/

:root{
  --main-color: #000;
  --main-background-color: #fff;

  --button-color: #fff;
  --button-background-color: #c00;
}

body{
  background-color: var(--main-background-color);
  color: var(--main-color);
}

.container .content{
  display: flex;
  width: 100%;
  height: 100%;
}

/* PARTE 1 */

.container .content .primary{
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 7%;
}

.container .content .primary .details-channel{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container .content .primary .details-video{
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 850px;
}

.container .content .primary .details-video .icone-like:before{
  content: '';
  background-image: url(../images/icons/like.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;  
}

.container .content .primary .details-video .icone-deslike:before{
  content: '';
  background-image: url(../images/icons/deslike.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.container .content .primary .details-video .icone-share:before{
  content: '';
  background-image: url(../images/icons/share-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.container .content .primary .details-video .icone-download:before{
  content: '';
  background-image: url(../images/icons/download.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

.container .content .primary .details-video button{
  background-color: var(--button-background-color);
  color: var(--button-color);
  padding: 0.70rem 2.3rem;
  cursor: pointer;
}
.container .content .primary .details-video a{
  text-decoration: none;
}

.container .content .primary .describe-video{
  padding-top: 1rem;
  width: 650px;
  color: #515151;
}

/* PARTE 2 */

.container .content .second{
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .content .second .second-content{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.container .content .second .second-details p{
  font-size: 14px;
}


.container .content .second .second-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
}